@import url("960gs/960.css");

/* http://www.levien.com/type/myfonts/inconsolata.html */
@font-face
{
  font-family: "inconsolata";
  src: url("../fonts/Inconsolata.otf");
}

@font-face
{
  font-family: "droid sans";
  src: url("../fonts/DroidSans.ttf");
}
@font-face
{
  font-family: "droid sans bold";
  src: url("../fonts/DroidSans-Bold.ttf");
}
body
{
  color:#333;
  font-family: helvetica, arial, sans-serif;
  font-size:87.5%;   /* 16px * 0.875 = 14px */
  line-height: 137.5%; /* 16px * 1.375  = 22px */
}
a
{
  color: #b22322;
  text-decoration: none;
  border-bottom: solid 1px;
}
a:hover
{
  color: #e11c1c;
}

h1, h2, h3, h4, h5, h6
{
  color: #000;
}
h1, h2, h3
{
  font-family: "droid sans", helvetica, arial, sans-serif;
}

h4, h5, h6
{
  font-family: "droid sans bold", helvetica, arial, sans-serif;
}

h1
{
  font-size: 150.0%;
}
h2
{
  font-size:  137.5%;
}
h3
{
  font-size: 125.0%;
}
h4
{
  font-size: 112.5%;
}
h5, h6{
  font-size: 100%;
}

pre
{
  font-size: 1.15em;
  border: 1px solid #dedede; /* gray */
  background-color: ghostWhite;
  color: #000;
  font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
  padding: 0.5em;
}

code 
{
  font-size: 1.05em;
  background-color: ghostWhite;
  border: 1px solid #dedede;
}

pre code 
{
  background-color: transparent !important;
  border: none;
}`

.noul
{
  border-bottom: 0;
  text-decoration: none;
}

header, footer
{
  display: block;
  padding: 1em 0;
}


header h1{
  font-size:1.142em;
}

header h1 a, header h1 a:visited
{
  color:#a23030;
  text-decoration: none;
  border-bottom: none;
}

footer{
  margin-top:1em;
  border-top: solid 3px #ccc;
}
