---
layout: default
title: Learn Ruby The Hard Way
---

<p>Welcome to Learn Ruby The Hard Way.  This is a Ruby translation of Zed Shaw's popular book <a href="http://learnpythonthehardway.org">Learn Python The Hard Way, 2nd Edition</a>.</p>

<p>The prose in this translation is nearly 100% identical to the Python version with the exception of a few paragraphs that have been modified to be relevant to Ruby.  All of the code exercises and required libraries have been completely adapted for Ruby. In other words, Zed did all the <em>really</em> hard work.</p>

<section>
  <ul class=posts>
    {% for post in site.posts reversed %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</section>
